@model List<Category>

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Kategori Açıklaması</th>
        </tr>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.CategoryID</td>
                    <td>@item.CategoryName</td>
                    <td><a href="#" class=" btn btn-outline-danger">Sil</a></td>
                    <td><a href="#" class=" btn btn-outline-success">Güncelle</a></td>
                </tr>
            }
    </table>
</div>
<a href="#" class="btn btn-success">Yeni Kategori Ekle</a>